<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Weddrapp.com</title>
        <link rel="shortcut icon" href="../image/ic_title.png" />

        <!-- Bootstrap -->
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!--side menu plugin-->
        <link href="assets/plugins/hoe-nav/hoe.css" rel="stylesheet">
        <!-- icons-->
        <link href="assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!--template custom css file-->
        <link href="assets/css/style.css" rel="stylesheet">

        <script src="assets/js/modernizr.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout">

        <!--side navigation start-->
        <div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
          <header id="hoe-header" hoe-lpanel-effect="shrink">
              <div class="hoe-left-header">
                  <a href="#"> <span>Weddr</span></a>
                  <span class="hoe-sidebar-toggle"><a href="#"></a></span>
              </div>

              <div class="hoe-right-header" hoe-position-type="relative">
                  <span class="hoe-sidebar-toggle"><a href="#"></a></span>
                  <ul class="left-navbar">
                      <li>
                          <div class="top-search hidden-xs">
                              <form>
                                  <input type="text" class="form-control" placeholder="Search here">
                                  <i class="ion-search"></i>
                              </form>
                          </div>
                      </li>

                  </ul>
                  <ul class="right-navbar navbar-right">
                      <li class="dropdown">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="assets/images/uk.png" alt="">United Kingdom</a>
                      </li>
                      <li class="dropdown">
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="assets/images/avtar.png" alt="" width="30" class="img-circle"> Emily Doe</a>
                          <ul class="dropdown-menu dropdown-menu-scale user-dropdown">
                              <li><a href="#"><i class="ion-person"></i> Profile </a></li>
                              <li><a href="#"><i class="ion-settings"></i> Settings </a></li>
                              <li><a href="#"><i class="ion-log-out"></i> Logout </a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </header>
            <div id="hoeapp-container" hoe-color-type="lpanel-bg7" hoe-lpanel-effect="shrink">
              <aside id="hoe-left-panel" hoe-position-type="absolute">

                  <ul class="nav panel-list">

                      <li class="active">
                          <a href="dashboard.html">
                              <i class="fa fa-home"></i>
                              <span class="menu-text">Dashboard</span>
                              <span class="selected"></span>
                          </a>
                      </li>
                      <li>
                          <a href="user-profile.html">
                              <i class="fa fa-user"></i>
                              <span class="menu-text">User Profile</span>
                              <span class="selected"></span>
                          </a>
                      </li>
                      <li class="hoe-has-menu">
                          <a href="javascript:void(0)">
                              <i class="fa fa-envelope"></i>
                              <span class="menu-text">Pages</span>
                              <span class="selected"></span>
                          </a>
                          <ul class="hoe-sub-menu">
                              <li>
                                  <a href="page-login.html">
                                      <span class="menu-text">Login</span>
                                      <span class="selected"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="page-register.html">
                                      <span class="menu-text">Register</span>
                                      <span class="selected"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="page-404.html">
                                      <span class="menu-text">404</span>
                                      <span class="selected"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="page-forget-password.html">
                                      <span class="menu-text">Forget password</span>
                                      <span class="selected"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="page-empty.html">
                                      <span class="menu-text">Empty page</span>
                                      <span class="selected"></span>
                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </aside><!--aside left menu end-->



                <!--start main content-->
                <section id="main-content">
                    <div class="space-30"></div>
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel">
                                    <header class="panel-heading">

                                        <h2 class="panel-title">Content goes here</h2>
                                   </header>
                                    <div class="panel-body">
                                        <p>
                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <!--footer start-->
                    <div class="footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <span>&copy; Copyright 2017. Weddr</span>
                            </div>
                        </div>
                    </div>
                    <!--footer end-->
                </section><!--end main content-->
            </div>
        </div><!--end wrapper-->



        <!--Common plugins-->
        <script src="assets/plugins/jquery/dist/jquery.min.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/plugins/hoe-nav/hoe.js"></script>
        <script src="assets/plugins/pace/pace.min.js"></script>
        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>
